@import "../../style/variables";

.login-box {
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: $login-base;
  box-sizing: border-box; 
  box-shadow: $global-box-shadow;
  border-radius: 10px;

  h2 {
    margin: 0 0 30px;
    padding: 0;
    color: $login-text;
    text-align: center;
  }

  .user-box {
    position: relative;

    input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: $login-text;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid $login-text;
      outline: none;
      background: $login-base;
    }

    label {
      position: absolute;
      top:0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: $login-contrast-bright;
      pointer-events: none;
      transition: .2s;
    }

    input:-webkit-autofill ~ label,
    input:focus ~ label,
    input:valid ~ label {
      top: -25px;
      left: 0;
      color: $login-contrast-bright;
      font-size: 12px;
    }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    input:-webkit-autofill:valid {
      border-bottom: 1px solid $login-text;
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0px 1000px $login-base inset;
      transition: background-color 5000s ease-in-out 0s;
      caret-color: white;
    }
  }

  @media only screen and (max-width: 480px) {
    width: 85vw;
    min-width: 300px;
  }
}