@import "../../style/variables";

.base-box{
    background-color: $global-bg-colour;
}

.parent {
    background: $login-base;
    margin: 15;
    border-radius: 15px;
    width: 97%;
    height: 96%;
    display: flex;
    padding: 30px;
    box-shadow: $global-box-shadow;
    
}

.nav {
    height: 100%;
    width: 20%;   
}

.userBar {
    height: 10%;
    width: 100%;
    
}

.right {
    width: 100%;
}