@import "../../style/variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.pagetitle {
    color: white;

    h1 {
        font-size: 22px;
        margin: 5px 5px 5px 0;
        padding: 5px 5px 5px 0;
    }
}

.friends {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #333644;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0px 7px 0px 0px #0000007d;
    transition: 0.25s cubic-bezier(.4, 1, 0, 1);

    .title {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        color: white;
        margin-bottom: 20px;
    }
}

/*LAYOUT*/
.pagetitle {
    grid-area: pagetitle;
}

.navbar {
    grid-area: navbar;
}

.userbar {
    grid-area: userbar;
}

.events {
    grid-area: events;
}

.friends {
    grid-area: friends;
}

.menu {
    grid-area: menu;
}

$baseBoxPadding: 10px;
$gridGap: 10px;
$topBarHeight: 50px;

.base-box {
    padding: $baseBoxPadding;
    grid-gap: $gridGap;
    display: grid;
    grid-template-columns: auto 3fr 1fr;
    grid-template-rows: $topBarHeight calc(100vh - $topBarHeight - $gridGap - 2 * $baseBoxPadding);
    grid-template-areas:
        "pagetitle userbar userbar"
        "navbar events friends";
}

@media screen and (max-width: 1200px) {
    .base-box {
        $friendsHeight: 200px;
        grid-template-columns: auto 1fr;
        grid-template-rows: $topBarHeight calc(100vh - $topBarHeight - $friendsHeight - $gridGap - 3 * $baseBoxPadding) $friendsHeight;
        grid-template-areas:
            "pagetitle userbar"
            "navbar events"
            "friends friends";
    }
}

@media screen and (max-width: 800px) {
    .base-box {
        $friendsHeight: 200px;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto $friendsHeight;
        grid-template-areas:
            "userbar menu"
            "events events"
            "friends friends";
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .navbar,
    .pagetitle {
        display: none;
    }

    .searchbar:focus-within {
        width: calc(100vw - 5px) !important;
    }

    .searchbar:focus-within~.user {
        visibility: hidden;
    }

    .hamburgermenu {
        visibility: visible !important;
        display: block !important;
    }

    .scroll {
        overflow-y: visible !important;
    }
}