@import "../../style/variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.userbarBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    
    .searchBarDiv{
        position: absolute;
        z-index: 1;
        width: calc(100% - 575px);
        display: flex;
        flex-direction: row;
        transition: 0.2s;

        @media only screen and (max-width: 1000px) {
            width: calc(100% - 230px);
            &:focus-within {
                width: calc(100% - 20px);
            }
        }

        input {
            float: left;
            padding: 12px 10px 12px 15px;
            border: none;
            font-size: 16px;
            background: linear-gradient(90deg, rgb(71, 73, 75) 0%, rgba(110,112,114,1) 100%);
            border-radius: 7px;
            outline: none;
            caret-color: white;
            width: 100%;
            font-size: 17px;
            font-weight: 500;
            font-family: 'Noto Sans', sans-serif;
            color: white;
            &::placeholder { 
                color: rgb(136, 136, 136);
                font-weight: 600;
            }
            &::-webkit-search-cancel-button {
                display: none;
            }
        }
        .icon {
            color: $light-dark;
            display: inline !important;
            transform: translate(-34px,12px);
        }  
    }

    .userContainer {
        color: #fff;
        text-align:right;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        transform: translateY(14px);
        width: 260px;
        margin-left: calc(100% - 190px);

        .user {
            display: flex;

            .userIcon img {
                transform: translateY(-10px);
                margin-right: 10px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #fff;
            }
            .text {
                cursor: pointer;
            }
            .icon {
                cursor: pointer;
                margin-left: 10px;
                color: #808191;
                @media only screen and (max-width: 1000px) {
                    margin-left: 5px;
                }
                svg {
                    transition:all 0.5s cubic-bezier(.27,.87,.71,.93);
                    transform: rotate(180deg);
                }
                &.rotate {
                    svg {
                        transform: rotate(0deg);
                    }
                }
            }
            
        }

        .notification {
            margin: 0 10px 0 13px;
            min-width: 25px;
            color: #808191;
            cursor: pointer;
            display: inline-block;
            svg:last-of-type {
                transform: translate(-9px,-8px);
                font-size: 7px;
                color: #EA5F5F;
            }
        }

        .dropdown {
            position: fixed;
            top: calc(45px);
            right: calc(50px);
            background-color: #333644;
            border-radius: 5px;
            box-shadow: 0px 3px 0px 0px #211F29;
            visibility: hidden;
            height: 0px;
            width: 250px;
            transition:all 0.5s cubic-bezier(.27,.87,.71,.93);
            overflow: hidden;
            border-radius: 15px;
            
            .username, .role {
                background-color: #444546;
                margin: 10px;
                padding: 17px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-radius: 15px;
                font-size: 14px;
                div:first-of-type{
                    color: #fff;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    div {
                        font-family: 'Noto Sans', sans-serif;
                    }
                }
                .icon {
                    color: #fff;
                }
                .prop {
                    color: $login-contrast-bright;
                    font-family: 'Noto Sans', sans-serif;
                }
            }
            .line {
                transform: translateX(10px);
                width: calc(100% - 20px);
                border-bottom: 1px solid $dark-very-light;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .logoutDiv {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    margin-top:8px;
                    font-size: 14px;
                    text-transform: none;
                    letter-spacing: 2px;
                    font-family: 'Noto Sans', sans-serif;
                    border-radius: 15px;
                    width: calc(100% - 20px);
                }  
                button:hover, button:focus {
                    box-shadow: 0 0 5px $login-contrast-bright,
                    0 0 1px $login-contrast-bright,
                    0 0 10px $login-contrast-bright,
                    0 0 20px $login-contrast-bright;
                } 
            }            
        }
        
        .dropdown.show {
            visibility: visible;
            height: 213px;
            box-shadow: 0px 7px 0px 0px #211F29;
        }
    }
}




//menu button
$menuColor: #000;
$lineWidth: 3px;
$spaceBetween: 7px;

.spinner-master {
    visibility: hidden;
    height: calc(3 * ($lineWidth + $spaceBetween));
    width: calc(3 * ($lineWidth + $spaceBetween));

    @media only screen and (max-width: 1000px) {
        visibility: visible;
    }

    input[type="checkbox"] {
        display: none;
    }

    label {
        position: relative;
        display: block;
        height: calc(3 * ($lineWidth + $spaceBetween));
        width: calc(3 * ($lineWidth + $spaceBetween));
        cursor: pointer;
        z-index: 99;
    }
    .spinner {
        height: $lineWidth;
        width: 100%;
        background-color: $menuColor;
        transition: 0.3s;
    }

    .horizontal, .part-2 {
        margin-top: $spaceBetween;
    }

    

    input[type="checkbox"]:checked ~ {
        .spinner-spin {
            .horizontal {
                opacity: 0;
            }
            .diagonal.part-1 {
                transform: translateY(calc($lineWidth + $spaceBetween)) rotate(-135deg);

            }
            .diagonal.part-2 {
                transform: translateY(calc(-1 * ($lineWidth + $spaceBetween))) rotate(135deg);
            }
        }
    }

    .items {
        transition: 0.3s;
        position:absolute;
        z-index: 10;
        width: 100vw;
        height: fit-content;
        background-color: #333644;
        box-shadow: 0px 7px 0px 0px #211F29;
        border-radius: 0px 0px 15px 15px;
        top:-35px;
        left: calc(-1000vw + 100% + 20px);
        padding: 15px 70px 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .nav-item {
            transition: 0.3s;
            background-color: #4b6a78;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0px 7px 0px 0px #30434d;
            cursor: pointer;

            &:hover, &.active {
                background-color: #22B07D;
                box-shadow: 0px 7px 0px 0px #175941;
            }
        }

    }

    input[type="checkbox"]:checked ~ {
        .items {
            left: calc(-100vw + 100% + 20px);
        }
    }

}