@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
html {
    height: 100%;
}
    
body {
    background-color: $global-bg-colour;
    overflow-x: hidden;
}

h1 {
    font-size: 34pt;
}

h2 {
    font-size: 28pt;
}

h3 {
    font-size: 22pt;
}

p {
    font-size: 17pt;
}

a {
    text-decoration: none;
}

.base-box {
    $width: 100%;
    $height: 100%;
    width: $width;
    height: $height;
    max-width: calc($width);
    max-height: calc($height);

    display: flex;
    align-items: center;
    justify-content: center;
}

.blurred {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.global-button {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    background: $login-contrast-bright;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    color: $login-text;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    border-radius: 5px;
    outline:none;
  }
.global-button:hover, .global-button:focus {
box-shadow: 0 0 5px $login-contrast-bright,
            0 0 15px $login-contrast-bright,
            0 0 30px $login-contrast-bright,
            0 0 50px $login-contrast-bright;
font-weight: 900;
}

* {
    --scrollbarBG: #494c57;
    --thumbBG: #acb1c2; 
}
*::-webkit-scrollbar {
    width: 12px;
  }
* {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: 6px;
}
div::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

input::-ms-clear{
    display: none;
}