//global
$global-bg-colour: #403D51;  
$global-box-shadow: 0 15px 25px rgba(0,0,0,.6);

//loading
$loading-color: #03e9f4;
$loading-border-color: #3c3c3c;
//login
$login-base:#23222b;
$login-text:#fff;
$login-contrast-bright: #03e9f4;

// Dark-mode colours
$dark-very-dark: #1b1e20;
$dark-dark: #23272a;
$dark-middle-dark: #27292b;
$dark-light: #2c2f33;
$dark-very-light: #6e7072;
$black: #000;

// Light-mode colours
$light-light: #E5E4E2;
$light-dark: #bababa;
$white: #ffffff;