//global
$global-bg-colour: #1F1D2B;  
$global-box-shadow: 0 15px 25px rgba(0,0,0,.6);

//loading
$loading-color: #03e9f4;
$loading-border-color: #3c3c3c;
//login
$login-base:#2f333a;
$login-text:#fff;
$login-contrast-bright: #03e9f4;