//global
$global-bg-colour: #1F1D2B;  
$global-box-shadow: 0 15px 25px rgba(0,0,0,.6);

//loading
$loading-color: #03e9f4;
$loading-border-color: #3c3c3c;
//login
$login-base:#23222b;
$login-text:#fff;
$login-contrast-bright: #03e9f4;



$fluvie-blue : #004C69;
$fluvie-green : #b2d235;
$bg-colour : #F2F4F6;
$grey : #D1D5DB;
$red : #FF3B30;

$shadow : 0 12px 16px 0 rgba(0, 0, 0, 0.24),
0 17px 50px 0 rgba(0, 0, 0, 0.19);
$shadow-inset: inset -10px 0 16px 0 rgba(0, 0, 0, 0.5),
-10px 0 50px 0 rgba(0, 0, 0, 0.19);

$blue-light: #007bff;
$blue-dark: #0a84ff;

$green-light: #34c759;
$green-dark: #30d158;

$indigo-light: #5856d6;
$indigo-dark: #5e5ce6;

$orange-light: #ff9500;
$orange-dark: #ff9f0a;

$pink-light: #ff2d55;
$pink-dark: #ff375f;

$purple-light: #af52de;
$purple-dark: #bf5af2;

$red-light: #ff3b30;
$red-dark: #ff453a;

$teal-light: #5ac8fa;
$teal-dark: #64d2ff;

$yellow-light: #ffcc00;
$yellow-dark: #ffd60a;

// Dark-mode colours
$dark-very-dark: #1b1e20;
$dark-dark: #23272a;
$dark-middle-dark: #27292b;
$dark-light: #2c2f33;
$dark-very-light: #6e7072;
$black: #000;

// Light-mode colours
$light-light: #E5E4E2;
$light-dark: #bababa;
$white: #ffffff;