@import "../../../style/variables";
.navbar {
    color: #fff;
    min-width: 250px;

    .menu {
        color: $dark-very-light;
        margin-top: 40px;
        padding-bottom: 10px;
        width: 85%;
        border-bottom: 1px solid $dark-very-light; 

        .title {
            color: white;
        }
    
        .tile {
            display: flex;
    
            transition: 0.3s;
            font-size: 16px;
            background-color: #333644;
            margin: 20px 20px 20px 0;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0px 7px 0px 0px rgb(0 0 0 / 49%);
            white-space: nowrap;
            color: #808191;
    
            &:hover, &.tile.active {
                color: white;
                background-color: #22B07D;
                box-shadow: 0px 7px 0px 0px #175941;
            }
    
            .icon {
                min-width: 20px;
                margin-right:15px;
                svg {
                    transform: scale(1.3) translateY(1px);
                }
            }
        }
    }
}